webcounter.json
[{"id":"81f4cb43.9f34e8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"1359770d.3d2169","type":"rpi-gpio in","z":"81f4cb43.9f34e8","name":"PB1 (GPIO 4)","pin":"7","intype":"up","debounce":"25","read":false,"x":210,"y":201,"wires":[["7b030a0e.0d1104"]]},{"id":"7b030a0e.0d1104","type":"function","z":"81f4cb43.9f34e8","name":"Remove the rising event","func":"if (msg.payload===0)\n    return msg;","outputs":1,"noerr":0,"x":442,"y":201,"wires":[["9a91a198.7a895"]]},{"id":"5c5624e1.24f56c","type":"inject","z":"81f4cb43.9f34e8","name":"Reset","topic":"Reset","payload":"Reset counters","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":365,"y":70,"wires":[["255a5c28.5806f4"]]},{"id":"9a91a198.7a895","type":"counter","z":"81f4cb43.9f34e8","inc":"1","name":"Counter 1","x":676,"y":201,"wires":[["6628a76a.e0d668"]]},{"id":"255a5c28.5806f4","type":"function","z":"81f4cb43.9f34e8","name":"Reset","func":"msg.reset = true;\nreturn msg;","outputs":1,"noerr":0,"x":508,"y":70,"wires":[["9a91a198.7a895","ba0fb51a.f975d8","e17fc920.49f4f8"]]},{"id":"3151ec67.e99204","type":"http in","z":"81f4cb43.9f34e8","name":"","url":"/counter","method":"get","upload":false,"swaggerDoc":"","x":214,"y":505,"wires":[["88005173.e7bf5","cff64b2f.7fdce8"]]},{"id":"6f68c12b.6045e","type":"http response","z":"81f4cb43.9f34e8","name":"Send the home page","statusCode":"","headers":{},"x":690,"y":505,"wires":[]},{"id":"88005173.e7bf5","type":"template","z":"81f4cb43.9f34e8","name":"Home page HTML source","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"\n<!DOCTYPE HTML>\n<html>\n    <head>\n        <title>NetHome Countert</title>\n        <script src=\"https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js\"></script>\n\n    <script type=\"text/javascript\">\n\n        var wsUriC = \"ws://raspberry.local:1880/websocket\";\n        var ws;\n        function wsConnectC() {\n            console.log(\"connect\",wsUriC);\n            ws = new WebSocket(wsUriC);\n            ws.onmessage = function(msg) {\n                var msg=JSON.parse(msg.data);\n                if (msg.id==1)\n                    $(\"#counter1\").text(msg.counter);\n                if (msg.id==2)\n                    $(\"#counter2\").text(msg.counter);\n                if (msg.id==3)\n                    $(\"#counter3\").text(msg.counter);\n            } \n            ws.onopen = function() {\n                console.log(\"connected\");\n            }\n            ws.onclose = function() {\n                setTimeout(wsConnectC,1000);\n                retryOpeningWebSocket();\n            }\n        }\n\n        function retryOpeningWebSocket(){\n            if (retries < 2) {            \n                setTimeout(openWebSocket, 1000);            \n                retries++;\n            }\n        }\n        \n        $(\"document\").ready()\n    </script>\n    \n    <style>\n        td {\n            text-align: center;\n        }\n        .counter {\n            font-size: 200px;\n            font-weight: bold;\n        }\n        #counter1 {\n            color: red;\n        }\n        #counter2 {\n            color: green;\n        }\n        #counter3 {\n            color: blue;\n        }\n    </style>\n</head>\n<body onload=\"wsConnectC();\" onunload=\"ws.disconnect;\">\n\n<h1>NetHome counter</h1>\n\n<table width=\"100%\">\n    <tr>\n        <td width=\"33%\">\n            <span class=\"counter\" id=\"counter1\">0</span>\n        </td>\n        <td width=\"33%\">\n            <span class=\"counter\" id=\"counter2\">0</span>\n        </td>\n        <td width=\"33%\">\n            <span class=\"counter\" id=\"counter3\">0</span>\n        </td>\n    </tr>\n</table>\n\n</body>\n</html>","x":436,"y":505,"wires":[["6f68c12b.6045e"]]},{"id":"874aab1f.7bf278","type":"comment","z":"81f4cb43.9f34e8","name":"Webserver","info":"","x":204,"y":465,"wires":[]},{"id":"38a96b79.b74494","type":"websocket out","z":"81f4cb43.9f34e8","name":"","server":"9a9377d9.cc90b8","client":"","x":1123,"y":202,"wires":[]},{"id":"6628a76a.e0d668","type":"function","z":"81f4cb43.9f34e8","name":"Counter to JSON format","func":"msg.payload={\"id\":1,\"counter\":msg.payload};\nreturn msg;","outputs":1,"noerr":0,"x":872,"y":202,"wires":[["38a96b79.b74494"]]},{"id":"4612d936.6ec588","type":"comment","z":"81f4cb43.9f34e8","name":"Push buttons event manager","info":"","x":258,"y":156,"wires":[]},{"id":"dc636859.db27d8","type":"rpi-gpio in","z":"81f4cb43.9f34e8","name":"PB2 (GPIO 17)","pin":"11","intype":"up","debounce":"25","read":false,"x":220,"y":267,"wires":[["948e7d8.685968"]]},{"id":"948e7d8.685968","type":"function","z":"81f4cb43.9f34e8","name":"Remove the rising event","func":"if (msg.payload===0)\n    return msg;","outputs":1,"noerr":0,"x":442,"y":267,"wires":[["ba0fb51a.f975d8"]]},{"id":"ba0fb51a.f975d8","type":"counter","z":"81f4cb43.9f34e8","inc":"1","name":"Counter 2","x":676,"y":268,"wires":[["d03214f.d3befe8"]]},{"id":"3147f8ff.511868","type":"websocket out","z":"81f4cb43.9f34e8","name":"","server":"9a9377d9.cc90b8","client":"","x":1123,"y":268,"wires":[]},{"id":"d03214f.d3befe8","type":"function","z":"81f4cb43.9f34e8","name":"Counter to JSON format","func":"msg.payload={\"id\":2,\"counter\":msg.payload};\nreturn msg;","outputs":1,"noerr":0,"x":872,"y":268,"wires":[["3147f8ff.511868"]]},{"id":"3127881e.7107f8","type":"rpi-gpio in","z":"81f4cb43.9f34e8","name":"PB3 (GPIO 27)","pin":"13","intype":"up","debounce":"25","read":false,"x":220,"y":337,"wires":[["5dab7ffa.4c53"]]},{"id":"5dab7ffa.4c53","type":"function","z":"81f4cb43.9f34e8","name":"Remove the rising event","func":"if (msg.payload===0)\n    return msg;","outputs":1,"noerr":0,"x":442,"y":337,"wires":[["e17fc920.49f4f8"]]},{"id":"e17fc920.49f4f8","type":"counter","z":"81f4cb43.9f34e8","inc":"1","name":"Counter 3","x":676,"y":338,"wires":[["6956bc44.5e11d4"]]},{"id":"33454114.bd028e","type":"websocket out","z":"81f4cb43.9f34e8","name":"","server":"9a9377d9.cc90b8","client":"","x":1123,"y":338,"wires":[]},{"id":"6956bc44.5e11d4","type":"function","z":"81f4cb43.9f34e8","name":"Counter to JSON format","func":"msg.payload={\"id\":3,\"counter\":msg.payload};\nreturn msg;","outputs":1,"noerr":0,"x":872,"y":338,"wires":[["33454114.bd028e"]]},{"id":"cff64b2f.7fdce8","type":"play audio","z":"81f4cb43.9f34e8","name":"","voice":"0","x":488,"y":444,"wires":[]},{"id":"9a9377d9.cc90b8","type":"websocket-listener","z":"","path":"/websocket","wholemsg":"false"}]
